<!DOCTYPE html>
<div class="container d-flex justify-content-center">
    <div class="col-md-8">
        <div class="bg-warning d-flex justify-content-center">
            <h1>Deixe aqui seu contato.</h1>
        </div>
        <form>
            <div>
                <div class="mb-3">
                    <label for="nome" class="col-form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="mensagem" class="col-form-label">Mensagem (opcional):</label>
                    <textarea class="form-control" id="mensagem" rows="3"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>